*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    width: 100vw;
    font-family: "Playwrite AU SA", serif;
    font-size: 1em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    nav ul{
        display: flex;
        list-style: none;
    }
    
    nav ul li{
        margin-right: 20px;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }
    
    nav ul li a:hover{
        color: #007bff;
    }
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    &:hover{
        color: #007bff;
    }
}

.container{
    background-color: #fff;
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    .sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        .img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    .texto{
        margin-left: 20px;
        width: 80%;
        p{
            font-size: 1em;
            color: #666;
            margin-bottom: 20px;
            text-align: justify;
        }
    }
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#pagina-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 110vh;
    padding: 40px;
}

.page2{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
    width:  30%;
    height: 60%;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width:  30%;
    height: 60%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 48px;
        color: #333;
        margin-bottom: 20px;
    }
    input{
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 18px;
    }
    button{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10px;
        &:hover{
            background-color: #0056b3;
        }
    }
}

.icones{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        font-size: 2em;
        margin: 0 10px;
    }
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
}

